# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.yml
/tmp

# Ignore vim swap files
*.swp
*.swo

#ignore mac os x .ds_store
.DS_Store

# for ctags
.tags

.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
ENV/
